<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- ignore this part when uploading to github(the whole file) -->
  <system.webServer>
    <staticContent>
      <!--wasm-->
      <remove fileExtension=".mem" />
      <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
      <remove fileExtension=".mjs" />
      <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <!--gz-->
      <remove fileExtension=".bmp.gz" />
      <mimeMap fileExtension=".bmp.gz" mimeType="image/bmp" />
      <remove fileExtension=".css.gz" />
      <mimeMap fileExtension=".css.gz" mimeType="text/css" />
      <remove fileExtension=".cvs.gz" />
      <mimeMap fileExtension=".cvs.gz" mimeType="application/octet-stream" />
      <remove fileExtension=".eot.gz" />
      <mimeMap fileExtension=".eot.gz" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".htm.gz" />
      <mimeMap fileExtension=".htm.gz" mimeType="text/html" />
      <remove fileExtension=".html.gz" />
      <mimeMap fileExtension=".html.gz" mimeType="text/html" />
      <remove fileExtension=".ico.gz" />
      <mimeMap fileExtension=".ico.gz" mimeType="image/x-icon" />
      <remove fileExtension=".map.gz" />
      <mimeMap fileExtension=".map.gz" mimeType="text/plain" />
      <remove fileExtension=".mem.gz" />
      <mimeMap fileExtension=".mem.gz" mimeType="application/octet-stream" />
      <remove fileExtension=".md.gz" />
      <mimeMap fileExtension=".md.gz" mimeType="text/plain" />
      <remove fileExtension=".mjs.gz" />
      <mimeMap fileExtension=".mjs.gz" mimeType="application/javascript" />
      <remove fileExtension=".jpeg.gz" />
      <mimeMap fileExtension=".jpeg.gz" mimeType="image/jpeg" />
      <remove fileExtension=".jpg.gz" />
      <mimeMap fileExtension=".jpg.gz" mimeType="image/jpeg" />
      <remove fileExtension=".js.gz" />
      <mimeMap fileExtension=".js.gz" mimeType="application/javascript" />
      <remove fileExtension=".json.gz" />
      <mimeMap fileExtension=".json.gz" mimeType="application/json" />
      <remove fileExtension=".pdf.gz" />
      <mimeMap fileExtension=".pdf.gz" mimeType="application/pdf" />
      <remove fileExtension=".png.gz" />
      <mimeMap fileExtension=".png.gz" mimeType="image/png" />
      <remove fileExtension=".svg.gz" />
      <mimeMap fileExtension=".svg.gz" mimeType="image/svg+xml" />
      <remove fileExtension=".text.gz" />
      <mimeMap fileExtension=".text.gz" mimeType="text/plain" />
      <remove fileExtension=".tif.gz" />
      <mimeMap fileExtension=".tif.gz" mimeType="image/tiff" />
      <remove fileExtension=".tiff.gz" />
      <mimeMap fileExtension=".tiff.gz" mimeType="image/tiff" />
      <remove fileExtension=".ttf.gz" />
      <mimeMap fileExtension=".ttf.gz" mimeType="application/octet-stream" />
      <remove fileExtension=".wasm.gz" />
      <mimeMap fileExtension=".wasm.gz" mimeType="application/wasm" />
      <remove fileExtension=".webp.gz" />
      <mimeMap fileExtension=".webp.gz" mimeType="image/webp" />
      <remove fileExtension=".woff.gz" />
      <mimeMap fileExtension=".woff.gz" mimeType="font/x-woff" />
      <remove fileExtension=".woff2.gz" />
      <mimeMap fileExtension=".woff2.gz" mimeType="application/font-woff2" />
    </staticContent>
    <!-- use gz file -->
    <rewrite>
      <rules>
        <rule name="dbrjs home rewrite">
            <match url="^$" />
            <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="dbrjs oned rewrite">
            <match url="^common-oned" />
            <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="dbrjs twod rewrite">
            <match url="^common-twod" />
            <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="dbrjs oned-twod rewrite">
            <match url="^common-oned-twod" />
            <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="dbrjs driver-license rewrite">
            <match url="^driver-license" />
            <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="dbrjs vin rewrite">
            <match url="^vin" />
            <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="dbrjs dpm rewrite">
            <match url="^dpm" />
            <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="use gz file first if file exist (js demo use firstly)" enabled="true" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}.gz" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:0}.gz" appendQueryString="true" logRewrittenUrl="false" />
        </rule>
      </rules>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Rewrite content-encoding header (js demo use firstly)" preCondition="IsGZ (js demo use firstly)" stopProcessing="false">
          <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern=".*" />
          <action type="Rewrite" value="gzip" />
        </rule>
        <preConditions>
          <preCondition name="IsGZ (js demo use firstly)">
            <add input="{URL}" pattern="\.gz$" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <!-- stop any other compression -->
    <urlCompression doDynamicCompression="false" doStaticCompression="false" />
  </system.webServer>
</configuration>