.sidebarBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(136, 136, 136, 1);
  cursor: pointer;
  transition: all .3s;
  user-select: none;
}

@media(hover: hover) {
  .sidebarBtn:hover {
    color: rgb(254, 142, 20);
    background-color: rgba(64, 63, 63, 0.8);
  }
  .sidebarBtn:hover svg{
    stroke: rgb(254, 142, 20);
  }
}

.sidebarBtn svg {
  stroke: #888;
}

.sidebarBtn label {
  text-align: center;
  cursor: pointer;
}

@media (min-width: 981px), screen and (max-width: 979.5px) and (orientation: landscape) {
  .sidebarBtn label {
    font-size: 14px;
  }
}

@media screen and (max-width: 979.5px) and (orientation: landscape) {
  .sidebarBtn label {
    transform: scale(0.7);
    font-size: 14px;
  }
}

/* mobile */
@media screen and (max-width: 979.5px) and (orientation: portrait) {
  .sidebarBtn label {
    font-size: 14px;
    transform: scale(0.7);
  }
}